

  .month-selector {
    display: flex;
    justify-content: space-between;
  }
  
  .month-item {
    cursor: pointer;
  }


  .day-selector {
    display: flex;
    flex-direction: column; 
  }
  
  .day-names,
  .date-numbers {
    display: flex;
    justify-content: space-between;
  }
  
  .day-names div,
  .date-numbers div {
    flex: 1;
    text-align: center;
    padding: 5px;
    border: 1px solid #ccc;
  }
  
  .date-numbers div {
    cursor: pointer;
  }
  

  .timeline {
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #ccc;
    padding-top: 5px;
    margin-top: 10px;
  }
  
  .hour {
    flex: 1;
    text-align: center;
    padding: 5px;
    border-right: 1px solid #ccc;
  }
  
  
  .timeline {
    display: flex;
  }
  
  .time-button{
    margin: 10px;
  }

 .task-form{
    padding: 20px;
 }

 .form{
    margin: 10px;
 }

 .card-header{
    margin: 15px;
 }

 @media (max-width: 800px) {
    .month-selector {
      display: none; /* Stack months vertically on smaller screens */
    }
  
    .month-item {
      display: none; /* Add space between month items */
    }
  
    .day-names div,
    .date-numbers div {
      display: none; /* Make day names and date numbers take full width */
    }
  
    .timeline,
    .time-button {
      display: none; /* Show timeline and time button on smaller screens */
    }
  }